name: ECR Push release test

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:

  build:
    name: Build image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Show git status
        run: git status

      - name: Show git branch
        run: git branch

      - name: Show inputs
        run: |
          echo "release: ${{ github.event.inputs.release }}"

      - name: set release image tag
        run: |
          echo "IMAGE_TAG=release-${{ github.sha }}" >> $GITHUB_ENV

      - name: Show image tag
        run: |
          echo "IMAGE_TAG: ${{ env.IMAGE_TAG }}"

      - name: Show exec branch
        run: |
          echo ${GITHUB_REF##*/}

      - name: main branch check 1
        if: github.ref != 'refs/heads/main'
        run: |
          echo "::error::not main"
          exit 1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: "ap-northeast-1"
          role-duration-seconds: 900
          role-session-name: GitHubActionsTestSession

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: image check
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.AWS_ECR_REPO_NAME }}
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
        run: |
          if docker images $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG --format "{{.Tag}}" | grep $IMAGE_TAG; then echo 'ok'; echo 'NG' exit 1; fi;
