name: ECR Push release test

on:
  workflow_dispatch:

env:
  IMAGE_TAG: release-${{ github.sha }}

permissions:
  id-token: write
  contents: read

jobs:

  build:
    name: Build image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Show git status
        run: git status

      - name: Show git branch
        run: git branch

      - name: Show exec branch
        run: |
          echo ${GITHUB_REF##*/}

      - name: main branch check 1
        if: github.ref != 'refs/heads/main'
        run: |
          echo "::error::not main"
          exit 1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: "ap-northeast-1"
          role-duration-seconds: 900
          role-session-name: GitHubActionsTestSession

      - name: release image check
        env:
          ECR_REPOSITORY: ${{ secrets.AWS_ECR_REPO_NAME }}
        run: |
          if aws ecr describe-images --repository-name $ECR_REPOSITORY --image-ids imageTag=$IMAGE_TAG --query "imageDetails[*].imageTags[0]" --output text | grep $IMAGE_TAG; then
            echo 'ok'
          else
            echo 'NG'
            exit 1
          fi
